<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 

    <section class="cards">
        <% locadora.forEach((filmes) => { %>
         <div class="div">
             <div class="card">
                <img src="<%= filmes.img %> " alt="">
                <h2><%= filmes.nome %> </h2>
                <p><%= filmes.anos %> </p>
             </div>
         </div>
        <% }) %>
    </section>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>